@charset "utf-8";

.g-hide {
  display: none;
}

.g-block {
  display: block;
}

.g-inline-block {
  display: inline-block;
}

.g-left {
  float: left;
}

.g-right {
  float: right;
}

.g-large {
  font-size: 20px;
}

.g-normal {
  font-size: 12px;
}

.g-strong {
  color: #f00;
}
